@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Airport.Models.AccountViewModels;
@using Microsoft.AspNetCore.Identity;
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "_LayoutEnterBlank";
}

@if (ViewData["error"] != null)
{
    <input type="hidden" id="error" value="@ViewData["error"].ToString()" />
}

<div class="login-box-body">
    <p class="login-box-msg"><b>Sign in to start work</b></p>
    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

        <div class="form-group has-feedback">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group has-feedback">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="row">
            <div style="display: block; margin-left:23%; margin-right: 23%;">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Log In</button>
            </div>
        </div>
        <div style="margin-top: 15px;">
            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-center">Register a new user</a>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        var err = $('#error').val();
        if (err) {
            toastr.error(err);
        }
    </script>
}

